target/MoreLoreEffectsPlugin-1.12.2-a0.3.0.jar
target/MoreLoreEffectsPlugin-1.12.2-a0.3.0-shaded.jar
target/original-MoreLoreEffectsPlugin-1.12.2-a0.3.0.jar
target/classes/org/clinlx/moreloreeffectsplugins/Tools.class
target/classes/org/clinlx/moreloreeffectsplugins/commands/LoreManageCommand.class
